<h4>Here are all of the number path messages:</h4>
<ul>
<li>One is the leader. The number one indicates the ability to stand alone, and is a strong vibration. Ruled by the Sun.</li>
<li>Two is the mediator and peace-lover. The number two indicates the desire for harmony. It is a gentle, considerate, and sensitive vibration. Ruled by the Moon.</li>
<li>Number Three is a sociable, friendly, and outgoing vibration. Kind, positive, and optimistic, they enjoy life and have a good sense of humor. Ruled by Jupiter.</li>
