 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Glenda's Numerology App</title>
  <meta name="author" content="Glenda Lewis">
  <meta name="description" content="This page was created to test Sinatra templates">
 </head>
 <body>
 <p><h3>Your birthdate can tell a great deal about you. </br>Do you think yours is true?<h3></p>
  <%= yield %>
 </body>
</html>

